RemoteSystemsTempFiles/
.recommenders/
.metadata/
TCPServer/log/
TCPServer/target/
TestProject/
Utility/target/
BackendWebService/WebContent/WEB-INF/lib/*
!BackendWebService/WebContent/WEB-INF/lib/gitkeep
RestfulBackend/target
RestfulBackend_Test/
RestfulTestClient
BackendMDB/

